<% include partials/header.ejs %>

<h1 class="biggerH1">About Site</h1>

<p class="biggerTxtP">
    This is a portfolio Site designed to showcase some skills. I wanted to display mostly the backend with his
    site, so it is somewhat light on the  CSS and styling in general. 
    This site uses <kbd>EJS</kbd>, as well as <kbd>Javascript</kbd> on the backend. I'm also using 
    <kbd>MongoDb</kbd> to keep track of the blog changes and updates using <kbd>MongoDb Atlas</kbd>  in the cloud.
</p>



<% include partials/footer.ejs %>