<% include partials/header.ejs %>

<h1 class="biggerH1">Contact</h1>

<p class="biggerTxtP">
    If you would like to contact me <br>
    E-mail: chapters120@gmail.com
</p>
<p>I will reply as soon as possible</p>



<% include partials/footer.ejs %>
