<% include partials/header.ejs %>




<h1 class="biggerH1">Home</h1>


<p class="biggerTxtP">
    This is a portfolio blog. I may update it from time to time to update 
   some of my coding projects as well as to keep tabs on my overall coding Goals.           

   <span class="smallerTxtP">...................Also, you can follow this link <a href="compose">Compose</a> to add your own post 
        to the blog to test the functionality 
    </span>

</p>



<% blgPost.forEach((el) =>{ %>
    <h1>
        <%= el.title %>
    </h1>
    <p class="biggerTxtP">
        <%= el.nBlog.substring(0, 100) + "..." %>
        
        <a href= "posts/<%=el.title%>">Read More</a>
    </p>
<% }) %>



<% include partials/footer.ejs %>
